=======
License
=======

Copyright (C) <%= Time.now.strftime("%Y") %> Reliance MediaWorks
All rights reserved.

This file contains confidential and proprietary source code, belonging to
Reliance MediaWorks. Its contents may not be disclosed to third parties,
copied or duplicated in any form, in whole or in part, without prior permission.