global proc <%= name %>(string $parentUI) {


	// To build the <%= name %> menu automatically 
	// when Maya starts, you will need to add the following line to userSetup.mel
	// <%= name %>(<parent>); 
	// where <parent> is the name of the UI under which to parent the <%= name %> menu.
	// valid options for <parent> are:
	//       The global variable $gMainWindow to place the <%= name %> menu in the main menubar	
	//       A string such as "RmwTools" to place the <%= name %> menu in a menu called "RmwTools"
	//       An empty string "" to ignore menu creation altogether
 
	// This script relies on the jlib module to initialize <%= name %> as a module
	source "jlib_module";
	
	
	
	
	// global proc module.initialize(
	// 	string $initializer, 
	// 	string $parentUI, 
	// 	string $firstPlugins[], 
	// 	string $melSourceExcludes[], 
	// 	string $docLocation,
	// 	int $devMode
	// )

	// initializer:string The name of the tool/. e.g. solar
	// parentUI:string The name of the parent menu.
	// firstPlugins:string[] If any plugins should be loaded before others, put them in this array
	// melSourceExcludes:string[] If any mel scripts should not be sourced, put them in this array
	// docLocation:string Documentation index URL, can be a relative or absolute path, or a web URL
	//       If a relative path is used, it will be relative to the <%= name %> directory
	// devMode:int Adds a menu that simplifies reloading of plugins

	// 	global string $gMainWindow;

	module.initialize("<%= name %>", $parentUI ,{},{},"doc/index.html", 0);
}