---
## title, author, email, creation time, and description will be set automatically at compile time. 
## Uncomment the lines below only if you want to override these fields.
# title: Alternative title
# author: Someone Else
# email: someone.else@example.com
# created_at: <%= Time.now.strftime("%d %B %Y") %>
# description: Learn how to use this tool.
---
h2. <%= name.capitalize %> Module

h4. What is <%= name.capitalize %>? 

A super simple way to convert any file to any other file. 

h4. What Makes <%= name.capitalize %> So Amazing? 

It really works.

h4. What Features are available in this version.

* Convert excel to jpg
* Convert movies to SQL
* Convert web pages to any 3d format

See the "release notes":release_notes.html for more features.

Installation is "easy":install_guide.html



