
## author, email, creation time, and description will be set automatically at compile time. 
## Uncomment the lines below only if you want to override these fields.
# title: Alternative title
# author: Someone Else
# email: someone.else@example.com
# created_at: 21 March 2012
# description: Learn how to use this tool.
type: Install Guide
---

h3. Prerequsites

h4. <%= name %> requires jlib.

If you haven't done so already, install the latest version of jlib which you can get from "defu":http://defu.herokuapp.com/

h4. This version of <%= name %> works with Maya 2012

h3. Install

Get the latest version for your platform from "defu":http://defu.herokuapp.com/ and move it to the place you keep your tools, for example: 

bc. /big/server/tools/

For this guide substitute /big/server/tools/ with your install location.

h3. Install on Mac or Linux

Extract the <%= name %> package using tar

bc. cd /big/server/tools/
tar xvf <%= name %>-0.0.5-darwin64.tar.gz

Run the install script, which can be found in:

bc. /big/server/tools/<%= name %>/0.0.5/config/INSTALL.sh

h3. Install on Windows

Open a command prompt run the install script, which can be found in:

bc. \big\server\tools\<%= name %>\0.0.5\config\INSTALL.BAT

This will create a module file: Documents\maya\modules\<%= name %>.

Next time you start maya the <%= name %> module will be available.

h3. Activate in Maya.

The installation script will have set up the module file and any paths required to tell Maya where to find the installed module. You will need to load the module in Maya to use it.

To load the <%= name %> menu, type the following in a MEL script editor.

bc. <%= name %>("FooBar");

You will see a new menu appear @FooBar@. It contains a @<%= name %>@ submenu.

You can put the <%= name %> menu in an existing menu you have made like so:

bc. <%= name %>("My Dynamics Menu");

Or you can put it in an existing maya menu:

bc. <%= name %>("Character");

Or you can also put it in the main menu bar:

bc. <%= name %>($gMainWindow);

You now have a menu containing <%= name %> functions and a Help menu containing an "About" submenu, and a "Documentation" submenu that points to this documentation.

h3. Done

Have Fun!
