$headings_color        	: #cd3028;
$bg1_color         		: #eee   ;
$bg2_color        		: #ddd   ;
$bq1_color        		: #eec   ;
$borders_color        	: #ccc   ;
$src_code_color     	: #a0a   ;

$toc_headings_bg_color : #aa251b;
$reliance_blue : #0c4ca3;
$reliance_light_blue: $reliance_blue + #333;
$toc_current_bg_color:#f1c7bf;
$code_block_color:#eaeef9;
$code_block_border_color:#b8c2e3;

@mixin shadow_box {
  box-shadow: 0px 2px  5px #606060;
}
